:root{
    --black: rgb(10,10,10);
    --white: rgb(240,240,240);

    --purple-pink: rgb(118, 13, 255);
}

:root{
    --linear-g1-a: rgb(0, 61, 192);
    --linear-g1-b: rgb(118, 26, 224);
}

:root{
    --nav-h: 70px;
}