*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    color: var(--black);
    font-size: 100%;
    font-family: montserrat;
    min-height: 2000px;
}
.scrollLock{
    overflow: hidden;
}

a{text-decoration: none; color: inherit;}

.navbar{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    user-select: none;

    z-index: 1;
}

    .menu.icon, .close.icon{
        left: 0px;
        top: 24px;
        color: var(--black);
    }

    .ctn{
        width: var(--nav-h);
        height: var(--nav-h);
        background-color: white;
    }
    .ctn2{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100vw - var(--nav-h));
        height: var(--nav-h);
        background-color: white;
    }

    .nav{
        display: none;
        position: relative;
        top: 0;
        width: 100%;
        height: calc(100vh - var(--nav-h));
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
    }
        
        .nav-item, .nav-item::before, .nav-item::after{
            display: flex;
            width: 100%;
            height: var(--nav-h);
            justify-content: center;
            align-items: center;
        }

            .nav-item::before{
                content: "";
                position: absolute;
                left: 0;
                width: 0%;
                clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
                background-color: rgb(18,18,18);
                transition: all 0.2s 0.05s;
            }
            .nav-item::after{
                content: "";
                position: absolute;
                right: 0;
                width: 0%;
                clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
                background-color: rgb(219, 219, 219);
                transition: all 0.2s 0.05s;
            }

        .nav-item:hover::before{
            width: 100%;
            clip-path: polygon(0 0, 52% 0, 48% 100%, 0 100%);
        }
        .nav-item:hover::after{
            width: 100%;
            clip-path: polygon(52% 0, 100% 0, 100% 100%, 48% 100%);
        }